@model ProductDetailDto

<div class="card">
	<div class="row g-0">
		<div class="col-md-4 border-end">
			<img src="~/@Model.MainImage" class="img-fluid" alt="...">
			<div class="row mb-3 row-cols-auto g-2 justify-content-center mt-3">
				<!--Images-->
				@foreach (var img in Model.Images)
				{
					<div class="col"><img src="~/@img" width="70" class="border rounded cursor-pointer" alt=""></div>
				}
				
				<!--Images-->
			</div>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h4 class="card-title">@Model.ProductName</h4>
				<div class="d-flex gap-3 py-3">
					<div class="cursor-pointer">
						@for (var i = 0; i < Model.Stars; i++)
						{
							<i class="bx bxs-star text-warning"></i>
						}
						@for (var i = 0; i < (5-Model.Stars); i++)
						{
													<i class="bx bxs-star text-secondary"></i>

						}
					</div>
					<div>تعداد بررسی</div>
					<div class="text-success">
						<i class="bx bxs-cart-alt align-middle"></i> تعداد سفارش
					</div>
				</div>
				<div class="mb-3">
					<span class="price h4">@Model.Price.ToString("n0") تومان</span>
					<span class="text-muted">/هر عدد</span>
				</div>
				<p class="card-text fs-6">@Model.ShortDescription</p>
				<dl class="row">
					<!-- 3 feature-->
					@foreach (var fe in Model.TopFeatures)
				   {
					   <dt class="col-sm-3">@fe.Feature</dt>
					<dd class="col-sm-9">@fe.Value</dd>
				   }
					
					<!-- 3 feature-->
				</dl>
				<hr>
				<div class="row row-cols-auto row-cols-1 row-cols-md-3 align-items-center">
					<div class="col">
						<label class="form-label">تعداد</label>
						<div class="input-group input-spinner">
							<input type="text" class="form-control" value="@Model.Inventory" disabled>
						</div>
					</div>



				</div>
				<div class="d-flex gap-3 mt-3">
					<a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-penceil">ویرایش محصول</a>
					<button onclick="DeleteUser('@Model.ProductId')" class="btn btn-outline-primary"><span class="text">حذف محصول</span> <i class="bx bxs-trash"></i></button>
					<a asp-area="" asp-controller="Product" asp-action="Detail" asp-route-slug="@Model.Slug" class="btn btn-outline-info">مشاهده در سایت</a>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="card-body">
		<ul class="nav nav-tabs nav-primary mb-0" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" data-bs-toggle="tab" href="#primaryhome" role="tab" aria-selected="true">
					<div class="d-flex align-items-center">
						<div class="tab-icon">
							<i class="bx bx-comment-detail font-18 me-1"></i>
						</div>
						<div class="tab-title"> توضیحات محصول </div>
					</div>
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#primaryprofile" role="tab" aria-selected="false">
					<div class="d-flex align-items-center">
						<div class="tab-icon">
							<i class="bx bx-bookmark-alt font-18 me-1"></i>
						</div>
						<div class="tab-title">برچسب ها</div>
					</div>
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#primarycontact" role="tab" aria-selected="false">
					<div class="d-flex align-items-center">
						<div class="tab-icon">
							<i class="bx bx-star font-18 me-1"></i>
						</div>
						<div class="tab-title">نظرات</div>
					</div>
				</a>
			</li>
		</ul>
		<div class="tab-content pt-3">
			<div class="tab-pane fade show active" id="primaryhome" role="tabpanel">
				<p>
					@Model.LongDescription
				</p>
				<dl class="row">
					@foreach (var fe in Model.AllFeatures)
					{
						<dt class="col-sm-3">@fe.Feature</dt>
					<dd class="col-sm-9">@fe.Value</dd>
					}
				</dl>
			</div>
			<div class="tab-pane fade" id="primaryprofile" role="tabpanel">
			@foreach (string tg in Model.Tags)
			{
					<span class="badge bg-dark">@tg</span>
				}
			</div>
			<div class="tab-pane fade" id="primarycontact" role="tabpanel">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleLargeModal">افزودن نظر</button>
				@foreach (var item in Model.Comments)
				{
					<div class="card radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<img src="~/AdminAssets/images/avatars/guest.png" class="rounded-circle p-1 border" width="90" height="90" alt="...">
							<div class="flex-grow-1 ms-3">
								<h5 class="mt-0">@item.Username</h5>
								<p class="mb-0">@item.Comment</p>
								<hr>
								<div class="row">
									<div class="col-6">
										<div class="card bg-success">
											<div class="card-body">
												<ul class="list-group list-group-flush">
													@foreach (var advantage in item.Adv)
												   {
															<li class="list-group-item bg-transparent text-white"><i class="bx bx-like font-18 align-middle me-1"></i>@advantage</li>
														}
												</ul>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="card bg-warning">
											<div class="card-body">
												<ul class="list-group list-group-flush">
@foreach (var disadvantage in item.DisAdv)
{
														<li class="list-group-item bg-transparent text-black"><i class="bx bx-dislike font-18 align-middle me-1"></i>@disadvantage</li>
}
												</ul>
											</div>
										</div>
									</div>
									<div class="btn-group" role="group" aria-label="Basic example">
										<button type="button" class="btn btn-danger" onclick="DeleteComment('@item.CommentId')">
											<i class="bx bx-trash me-0"></i>
										</button>
										<a class="btn btn-info" asp-action="Detail" asp-controller="Users" asp-route-id="@item.UserId">
											<i class="bx bx-detail me-0"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
</div>
<partial name="AddComment" model="@Model.ProductId"></partial>
@section Css{
	<link href="~/AdminAssets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
		<link href="~/AdminAssets/plugins/input-tags/css/tagsinput.css" rel="stylesheet">

}
@section Scripts{
	    <script src="~/AdminAssets/plugins/sweetalert2/sweetalert2.min.js"></script>
	<script src="~/AdminAssets/plugins/input-tags/js/tagsinput.js"></script>

	<script>
        function DeleteUser(id) {
            Swal.fire({
                title: 'آیا مطمئن هستید؟',
                text: "بعد از حذف شما قادر به بازگردانی محصول نخواهید بود",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'me-2',
                confirmButtonText: 'بله، حذف شود!',
                cancelButtonText: 'نه، لغو شود',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    var postData={
                        'id':id,
                    };
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: '@Url.Action("Delete","Product")',
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                Swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
									window.location.href = "@Url.Action("Index","Product")";
                                });
                            }
                            else {
                                Swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        }
                    });
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    Swal.fire(
                        'لغو شد',
                        'شما حذف محصول را لغو کردید :)',
                        'error'
                    )
                }
            })
        }
    </script>
	<script>
    $("#btnAddComment").on("click", function () {
        var mycomment = new FormData();
        mycomment.append("Comment", $("#inputcomment").val());
        mycomment.append("Point", $("#productpoint").val());
        mycomment.append("ProductId", @Model.ProductId);

        var productadvantage = $('#adv span.badge').map(function () {
            return {
                tag: $(this).text()
            };
        }).get();
        $.each(productadvantage, function (i, val) {
            mycomment.append('Adv[' + i + ']', val.tag);
        });

        var productdisadvantage = $('#disadv span.badge').map(function () {
            return {
                tag: $(this).text()
            };
        }).get();
        $.each(productdisadvantage, function (i, val) {
            mycomment.append('DisAdv[' + i + ']', val.tag);
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddComment","Product")',
            contentType: false,
            processData: false,
            data: mycomment,
            success: function (data) {

                if (data.isSuccess == true) {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        location.reload();
                    });
                }
                else {

                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }

        });
    })
</script>
	<script>
        function DeleteComment(id) {
            Swal.fire({
                title: 'آیا مطمئن هستید؟',
                text: "بعد از حذف شما قادر به بازگردانی نظر نخواهید بود",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'me-2',
                confirmButtonText: 'بله، حذف شود!',
                cancelButtonText: 'نه، لغو شود',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    var postData={
                        'id':id,
                    };
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: '@Url.Action("DeleteComment","Product")',
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                Swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
									location.reload();
                                });
                            }
                            else {
                                Swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        }
                    });
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    Swal.fire(
                        'لغو شد',
                        'شما حذف نظر را لغو کردید :)',
                        'error'
                    )
                }
            })
        }
    </script>
}